:root {
  --bg: #f4f6fa;
  --text: #1f2937;
  --card: #ffffff;
  --border: #d1d5db;
  --muted: #6b7280;
  --primary: #3366ff;
}
.user-info {
  padding: 10px 14px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 6px;
}

.user-info strong {
  display: block;
  font-size: 0.95rem;
  color: var(--text);
}
.notification-container {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.user-info span {
  font-size: 0.8rem;
  color: var(--muted);
}

 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  padding: 10px 20px;
  height: 60px;
  box-sizing: border-box;
}
.notification-container {
  position: relative;
  display: inline-block;
}

.notifications-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background:var(--bg);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 300px;
  z-index: 1000;
}

.notifications-dropdown h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 28px;
  color: var(--bg);
  margin-right: 8px;
}

.create-btn{
 padding: 10px;
}

.header__logo-text {
  font-size: 20px;
  font-weight: bold;
  color: var(--muted);
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__search {
  width: 60%;
  padding: 8px 12px;
  border: 1px solid var(--bg);
  border-radius: 6px;
  font-size: 16px;
}

/* Права частина */
.header__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__icon {
  font-size: 24px;
  color: var(--muted);
  cursor: pointer;
}
.user-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: var(--bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  min-width: 120px;
}