:root {
  --bg: #f4f6fa;
  --text: #1f2937;
  --card: #ffffff;
  --border: #d1d5db;
  --muted: #6b7280;
  --primary: #3366ff;
}
.sprint-container {
  padding: 20px;
   height: 100%;        
  display: flex;
  flex-direction: column;
}

.sprint-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sprint-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--bg);
}

.sprint-form button {
  background-color: var(--primary);
  color: var(--bg);
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sprint-form button:hover {
  background-color:var(--primary);
}

.sprint-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 600px;     
  overflow-y: auto;     
  padding-right: 5px;
}

.sprint-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background: var(--bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sprint-card h3 {
  margin: 0;
  color: var(--text);
}
/* HEADER В ОДИН РЯД */
.sprint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ПРИБРАТИ ВІДСТУП У H3 */
.sprint-header h3 {
  margin: 0;
  cursor: pointer;
}

/* КНОПКА ... БЕЗ РАМКИ */
.menu-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 8px;
}

/* ОБГОРТКА МЕНЮ */
.sprint-menu {
  position: relative;
}

/* DROPDOWN */
.menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  z-index: 10;
  min-width: 150px;
}

/* КНОПКА ВСЕРЕДИНІ */
.menu-dropdown button {
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

/* HOVER */
.menu-dropdown button:hover {
  background: #f3f4f6;
}

/* ЧЕРВОНА КНОПКА */
.menu-dropdown .danger {
  color: red;
}